@inject NavigationManager navman;

<div class="top-row ps-3 navbar ">

    <div class="container">
        <button class="navbar-brand exit" style="width:270px" @onclick="back">Мониторинг кандидатов</button>
        <button class="exit" style="width:400px;margin-left:30%">Добавить нового пользователя</button>
        <button class="exit" @onclick="red">Выход</button>
    </div>
</div>  

@code {
    public void red()
    {
        navman.NavigateTo("Identity/Account/Logout", true);
    }
    public void back()
    {
        navman.NavigateTo("/", true);
    }
}