<div class="top-row ps-3 navbar ">

    <div class="container">
        <a class="navbar-brand exit" style="width:160px" href="">Blazor_kai</a>
        <button class="exit">Выход</button>
    </div>
</div>